In [2]:
import pandas as pd
import numpy as np
import nltk
from pathlib import Path
import dtale

In [9]:
df = pd.read_csv("../Daten/welle1_und_3.csv",  sep = ";")
df.head()

,id,bef_welle,oesch8,oesch16,isco,isco_abgl,isco_check,erw_stat,taetigk,branche2,taetigk_hierar,taetigk_m1,taetigk_m2,taetigk_m3,taetigk_m4,taetigk_m5,beab,einkommen,besch_arbzeit,selbst_gr
0,100026,1,7,14,2622.0,2.0,1.0,1,Bibliothekar,.a,2,2,5,2,2,2,7,8,1,.c
1,100032,1,5,10,3359.0,3.0,0.0,1,Projektleitung,19,2,1,5,5,1,1,7,4,1,.c
2,100033,1,6,11,4110.0,2.0,1.0,1,Büro in handwerksfirma,6,2,2,5,4,2,3,.d,.d,.d,.c
3,100034,1,1,2,2320.0,3.0,2.0,2,Bildungsarbeit,17,.c,1,4,5,3,2,7,4,.c,.c
4,100038,1,5,9,2431.0,3.0,2.0,1,Marketingforscherin/ Planerin,4,1,1,5,.a,.a,1,7,7,1,.c

In [10]:
dtale.show(df)

c:\users\49151\anaconda3\envs\anna_arbeit\lib\site-packages\dtale\views.py:1653: FutureWarning:

The default value of regex will change from True to False in a future version.

Executing shutdown due to inactivity...

2022-04-17 23:09:42,500 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2022-04-17 23:09:54,795 - INFO     - Executing shutdown...